{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">



{% block content %}
        <style>
            .container-fluid{
                /* background-color: rgb(226, 236, 236) !important; */
                background: #0c565f !important;
            }
        </style>
       
            <!-- row -->
            <div class="container-fluid mt-5 ml-3">
                <div class="row">
                    <div class="col-lg-10 col-sm-12">
                        
                            <section id="basic-datatable">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card">
                                      <div class="card-header">
                                        <h4 class="card-title mt-3">Rent Payment Logs</h4>
                                      </div>
                                      <div class="card-content">
                                        <div class="card-body card-dashboard">
                                          <div class="table-responsive">
                                            <table class="table zero-configuration">
                                              <thead>
                                                <tr>

                                                 <th scope="col">No</th>
                                                 <th scope="col">Payment</th>
                                                  <th scope="col">Payment Date</th>
                                                  <th scope="col">Premium Paid</th>
                                                  <th scope="col">View Details</th>
                                               
                                                </tr>
                                              </thead>
                                              <tbody>
                                              {% for object in payment_logs %}
                                                <tr>
                                                  <td>{{ forloop.counter }}</td>
                                                  <!-- <th scope="row"><a href="{% url 'payment_detail' object.pk %}">{{object.tenant}}</a></th> -->
                                                  <td>{{object.payment}}</td>
                                                  <td>{{object.payment_date}}</td>
                                                  <td>{{object.payment_premium}}</td>
                                                  <!-- <td>{{object.status}}</td> -->
                                                  
                                                  <td>
                                                    <div class="actions-container">
                                                      <span class="action-item">
                                                        <a href="#" class="text-primary"><i class="typcn typcn-eye menu-icon"></i></a>
                                                      </span>
                                                    </div>
                                                  </td>
                                                </tr>
                                                {% endfor %}
                                              </tbody>
                                              <tfoot>
                                                <tr>
                                                 <th>No</th>
                                                 <th>Payment</th>
                                                  <th>Payment Date</th>
                                                  <th>Premium Paid</th>
                                                  <th>View Details</th>
                                               
                                                </tr>
                                              </tfoot>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                        
                    </div>
                </div>
            </div>
            

    </div>

{% endblock %}

</html>