{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">



{% block content %}
        <style>
            .container-fluid{
                /* background-color: rgb(226, 236, 236) !important; */
                background: #0c565f !important;
            }
        </style>
       
            <!-- row -->
            <div class="container-fluid mt-5 ml-3">
                <div class="row">
                    <div class="col-lg-10 col-sm-12">
                        
                            <section id="basic-datatable">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card">
                                      <div class="card-header">
                                        <h4 class="card-title mt-3">Rent Payment Premiums</h4>
                                      </div>
                                      <div class="card-content">
                                        <div class="card-body card-dashboard">
                                          <div class="table-responsive">
                                            <table class="table zero-configuration">
                                              <thead>
                                                <tr>

                                                 <th scope="col">No</th>
                                                 <th scope="col">Landlord</th>
                                                 <th scope="col">Tenant</th>
                                                  <th scope="col">Amount</th>
                                                  <th scope="col">Due Date</th>
                                                  <th scope="col">Status</th>
                                                  <th scope="col">View Details</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                              {% for object in payment_premiums %}
                                                <tr>
                                                  <td>{{ forloop.counter }}</td>
                                                  <!-- <th scope="row"><a href="{% url 'payment_detail' object.pk %}">{{object.tenant}}</a></th> -->
                                                  <td>{{object.tenant.landlord}}</td>
                                                  <td>{{object.tenant}}</td>
                                                  <td>{{object.amount}}</td>
                                                  <td>{{object.due_date}}</td>
                                                  <!-- <td>{{object.status}}</td> -->

                                                  <td>
                                                    <!-- {{ object.status }} -->
                                                    {% if object.status == 'paid' %}
                                                      <span class="badge badge-success" style="font-size: larger;">Paid</span>
                                                    {% elif object.status == 'pending' %}
                                                      <span class="badge badge-warning" style="font-size: larger;">Pending</span>
                                                    {% elif object.status == 'unpaid' %}
                                                      <span class="badge badge-primary" style="font-size: larger;">Unpaid</span>
                                                    {% elif object.status == 'defaulted' %}
                                                      <span class="badge badge-danger" style="font-size: larger;">Defaulted</span>
                                                    {% endif %}
                                                  </td>
                                                  
                                                  
                                                  <td>
                                                    <div class="actions-container">
                                                      <span class="action-item">
                                                        <a href="#" class="text-primary"><i class="fas fa-eye menu-icon" style="font-size: larger;"></i></a>
                                                      </span>
                                                    </div>
                                                  </td>
                                                </tr>
                                                {% endfor %}
                                              </tbody>
                                              <tfoot>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Landlord</th>
                                                    <th>Tenant</th>
                                                     <th>Amount</th>
                                                     <th>Month</th>
                                                     <th>Status</th>
                                                     <th>View Details</th>
                                                </tr>
                                              </tfoot>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                        
                    </div>
                </div>
            </div>
            
        {% comment %} {% include 'includes/footer.html' %} {% endcomment %}

    </div>

{% endblock %}

</html>