{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">



{% block content %}
        <style>
            .container-fluid{
                /* background-color: rgb(226, 236, 236) !important; */
                background: #0c565f !important;
            }
        </style>
       
            <!-- row -->
            <div class="container-fluid mt-5 ml-3">
                <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        
                            <section id="basic-datatable">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card">
                                      <div class="card-header">
                                        <h4 class="card-title mt-3">Rent Arrears
                                      </div>
                                      <div class="card-content">
                                        <div class="card-body card-dashboard">
                                          <div class="table-responsive">
                                            <table class="table zero-configuration">
                                              <thead>
                                                <tr>

                                                 <th scope="col"  style="font-size: 20px;">Count</th>
                                                 <th scope="col"  style="font-size: 20px;">Tenant</th>
                                                  <!-- <th scope="col">House No</th> -->
                                                  <th scope="col"  style="font-size: 20px;">Rent Premium</th>
                                                  <th scope="col"  style="font-size: 20px;">status</th>
                                                  <th scope="col"  style="font-size: 20px;">Arrears</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                              {% for object in rent_arrears %}
                                                <tr>
                                                  <td>{{ forloop.counter }}</td>
                                                  <th scope="row"><a href="#">{{object.tenant}}</a></th>
                                                  <td style="font-size: 20px;">Premium of  Ksh <span style="font-weight: 800;">{{object.payment_premium.calculate_adjusted_premium}} </span>  Due date: {{object.payment_premium.due_date}}</td>
                                                  <td  style="font-size: 20px;">{{object.payment_premium.status}}</td>
                                                  <td  style="font-size: 20px;">{{object.rent_arrears}}</td>
                                             
                                                  
                                                </tr>
                                                {% endfor %}
                                              </tbody>
                                              <tfoot>
                                                <tr>
                                                    <th>Count</th>
                                                    <th>Tenant</th>
                                                    <th>Premiums</th>
                                                    <th>Status</th>
                                                     <!-- <th scope="col">House No</th> -->
                                                     <!-- <th scope="col">Rent Premium</th> -->
                                                     <th>Arrears</th>
                                                </tr>
                                              </tfoot>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                        
                    </div>
                </div>
            </div>
            
        {% comment %} {% include 'includes/footer.html' %} {% endcomment %}

    </div>

{% endblock %}

</html>