{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">



{% block content %}

   
        <!--**********************************
            Content body start
        ***********************************-->
        <style>
            .container-fluid{
                /* background-color: rgb(226, 236, 236) !important; */
                background: #0c565f !important;
            }
            .card-header{
              background-color: white !important;
            }
        </style>
       
            <!-- row -->
            <div class="container-fluid mt-5 ml-3">
                <div class="row">
                    <div class="col-lg-10 col-sm-12">
                        
                            <section id="basic-datatable">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title mt-3">All House Units <span><a href="#" class="btn btn-sm btn-info mb-3  text-center float-right btn-inline">Add
                                              House</a></span></h4>
                                          </div>
                                      <div class="card-content">
                                        <div class="card-body card-dashboard">
                                          <div class="table-responsive">
                                            <table class="table zero-configuration">
                                              <thead>
                                                <tr>

                                                  <th scope="col">Count</th>
                                                  <th scope="col">House Type</th>
                                                  <th scope="col">Owner</th>
                                                  <th scope="col">House No</th>
                                                  <th scope="col">Rent Amount</th>
                                                  <th scope="col">Deposit</th>
                                                  <th scope="col">Status</th>
                                                  <th scope="col">Actions</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {% for object in properties %}
                                                  <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    {% comment %} <td>{{object.house_type}}</td> {% endcomment %}
                                                    <th scope="row"><a href="{% url 'property_detail' object.pk %}">{{object.house_type}}</a></th>
                                                    <td>{{object.landlord.user.full_name}}</td>
                                                    <td>{{object.house_number}}</td>
                                                    <td>{{object.rent}}</td>
                                                    <td>{{object.deposit}}</td>
                                                    {% if object.status == True %}
                                                    <td>Occupied</td>
                                                    {% else %}
                                                    <td>Vacant</td>
                                                    {% endif %}
                                                    <td>
                                                      <div class="actions-container">
                                                        <span class="action-item">
                                                          <a href="#" class="text-danger" data-toggle="modal"  data-target="#danger-#"><i class="fas fa-trash menu-icon" style="font-size: larger;"></i></a>
                                                        </span> 
                                                        <span class="action-item ml-3">
                                                          <a href="#" class="text-primary"><i class="fas fa-edit menu-icon" style="font-size: larger;"></i></a>
                                                        </span>
                                                      </div>
                                                    </td>
                                                    
                                                  </tr>
                                                  {% endfor %}
                                                </tbody>
                                              <tfoot>
                                                <tr>
                                                    <th>Count</th>
                                                    <th>Owner</th>
                                                    <th>House No</th>
                                                    <th>House Type</th>
                                                    <th>Rent Amount</th>
                                                    <th>Deposit</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                              </tfoot>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                        
                    </div>
                </div>
            </div>
     
        <!--**********************************
            Content body end
        ***********************************-->
        {% comment %} {% include 'includes/footer.html' %} {% endcomment %}

    </div>

{% endblock %}

</html>